#toast-container {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
  overflow-x: hidden;
}

#toast-container:empty {
  display: none;
}

.toast {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--color-card);
  width: 18rem;
  padding: 1rem;
  border-radius: var(--radius-md);
  overflow-x: hidden;
  box-shadow: var(--shadow-xl);

  opacity: 0;
  transform: translate(100%, 0%);
  transition: opacity 150ms ease,  transform 150ms ease;
}

.toast.transition-out {
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.toast.visible {
  opacity: 1;
  transform: translate(0%, 0%);
}

.toast > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.25rem;
  border-radius: 100%;
}

.toast svg {
  stroke-width: 3px;
  width: 16px;
  height: 16px;
}

.toast > div:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;

  background-color: var(--color-card);
  background-blend-mode: multiply; 
}

.toast.success {
  background-image: radial-gradient(circle at 10% 40%,
      rgba(var(--rgb-success), 0.15),
      var(--color-card) 30%
  );
}

.toast.success svg {
  color: color-mix(in srgb,
      var(--color-card) 50%,
      rgba(var(--rgb-success), 0.55) 50%
  );
}

.toast.success > div:first-child {
  background-color: var(--color-success);
  outline: 7px solid rgba(var(--rgb-success), 0.1);
}

.toast.success > div:last-child {
  background-color: var(--color-success);
}

.toast.warning {
  background-image: radial-gradient(circle at 10% 40%,
      rgba(var(--rgb-warning), 0.15),
      var(--color-card) 30%
  );
}

.toast.warning svg {
  color: color-mix(in srgb,
      var(--color-card) 50%,
      rgba(var(--rgb-warning), 0.55) 50%
  );
}

.toast.warning > div:first-child {
  background-color: var(--color-warning);
  outline: 7px solid rgba(var(--rgb-warning), 0.1);
}

.toast.warning > div:last-child {
  background-color: var(--color-warning);
}

.toast.error {
  background-image: radial-gradient(circle at 10% 40%,
      rgba(var(--rgb-error), 0.15),
      var(--color-card) 30%
  );
}

.toast.error svg {
  color: color-mix(in srgb,
      var(--color-card) 50%,
      rgba(var(--rgb-error), 0.55) 50%
  );
}

.toast.error > div:first-child {
  background-color: var(--color-error);
  outline: 7px solid rgba(var(--rgb-error), 0.1);
}

.toast.error > div:last-child {
  background-color: var(--color-error);
}
